html,body {
    margin: 0;
    padding: 0;
    background: #fbfbfb
}

body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

@font-face {
    src:url(fonts/DroidSansMono-enMp.ttf);font-family:droid-mono
}

h1 {
    margin: 0;
    padding: 0;
    color: #19b2ff;
    font-family: Arial,Helvetica,sans-serif;
    cursor: pointer
}

h2 {
    margin: 0;
    padding: 0;
    color: #222;
    font-family: droid-mono
}

h3 {
    margin: 0;
    padding: 0;
    color: #19b2ff;
    font-family: Arial,Helvetica,sans-serif;
    cursor: pointer
}

h4 {
    margin: 0;
    padding: 0;
    color: #222;
    font-family: Arial,Helvetica,sans-serif
}

h5{
    margin: 0;
    padding: 0;
    color: #222;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 17px;
}

p {
    margin: 0;
    padding: 0;
    color: #222;
    font-family: droid-mono
}

textarea {
    padding: 7% 0 0 0;
    outline: 0;
}

button {
    width: 100%;
    height: 100%;
    padding: 0 0;
    border: 0;
    cursor: pointer;
    background-color: transparent;
    border-color: transparent;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: 0
}

button:hover {
    background-color: #19b2ff;
    -webkit-transition: all .1s linear;
    -o-transition: all .1s linear;
    transition: all .1s linear
}

input {
    outline: 0;
    padding: 0;
    margin: 0
}



select {
    outline: 0
}

.arial {
    font-family: Arial,Helvetica,sans-serif
}

.bold {
    font-weight: 700
}

.blueText {
    color: #19b2ff
}

.textareaFontSize {
    font-family: Arial,Helvetica,sans-serif
}

.gridChild {
    display: -ms-grid;
    display: grid;
    height: 100%;
    width: 100%;
    justify-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.centeredHorizontal {
    display: -ms-grid;
    display: grid;
    -ms-flex-line-pack: center;
    align-items: center
}

.centeredVertical {
    display: -ms-grid;
    display: grid;
    justify-items: center
}

.centered {
    display: -ms-grid;
    display: grid;
    justify-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.alignBg {
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat
}

.borderBox {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: .1px solid #6a6a6a
}

.topLeft {
    border-top-left-radius: 5px
}

.topRight {
    border-top-right-radius: 5px
}

.bottomLeft {
    border-bottom-left-radius: 5px
}

.bottomRight {
    border-bottom-right-radius: 5px
}

.rounded {
    border-radius: 5px
}

.lightRounded {
    border-radius: 3px
}

.black {
    background-color: #111
}

.black h2,.black p {
    color: #fff
}

.black p.blueText {
    color: #19b2ff
}

.yellowBg {
    background-color: #ff0;
    color: #222
}

h2.yellowBg,p.yellowBg,.yellowBg p,.yellowBg h2 {
    color: #222
}

.lightBlueBg {
    background-color: #96dafc
}

.redBg {
    background-color: #ff1930;
    color: #fbfbfb
}

.lightYellowBg,.lightYellowBg p {
    background-color: #ffff5c;
    color: #222
}

.pathElement {
    background-color: #ff0;
    background-image: url(images/pathElementBg.svg)
}

.positionAbsolute {
    position: absolute
}

.square1x1 {
    height: calc(100%/32);
    width: calc(100%/46)
}

.square2x2 {
    height: calc(100%/32*2);
    width: calc(100%/46*2)
}

.rectangle1x2 {
    height: calc(100%/32*2);
    width: calc(100%/46*1)
}

.rectangle4x2 {
    height: calc(100%/32*2);
    width: calc(100%/46*4)
}

.rectangle6x2 {
    height: calc(100%/32*2);
    width: calc(100%/46*6)
}

.rectangle8x2 {
    height: calc(100%/32*2);
    width: calc(100%/46*8)
}

.rectangle12x2 {
    height: calc(100%/32*2);
    width: calc(100%/46*12)
}

.rectangle12x4 {
    height: calc(100%/32*4);
    width: calc(100%/46*12)
}

.movingObject {
    z-index: 2
}

.redRectangle {
    border-color: #FF1930;
}

.containerAspectRatio {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    top: 0px;
    /* left: 0px; */
    margin: 0px auto;

    width: 143.75vh;
    height: 100vh
}

.mc8Container {
    width: 98%;
    height: 98%;
    position: relative;
    background-image: url(images/busSystem.svg)
}

.rom {
    height: 100%;
    width: calc(100%/46*10);
    top: 0;
    left: 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 4fr;
    grid-template-columns: 1fr 4fr;
    -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(16,1fr)
}

.addressLabel1toF {
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: repeat(8,1fr);
    -ms-grid-rows: 1fr 1fr;
    grid-template-rows: 1fr 1fr
}

.ellipses {
    background-image: url(images/ellipses.svg)
}

.ram {
    height: 100%;
    width: calc(100%/46*10);
    top: 0;
    left: calc(100%/46*36);
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 4fr 1fr;
    grid-template-columns: 4fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(16,1fr)
}

.ioArrow {
    background-image: url(images/ioIn_arrow.svg);
    background-position: center center;
    background-size: 37%;
    background-repeat: no-repeat
}

.ioArrowOUT {
    background-image: url(images/ioOut_arrow.svg)
}

#io1Label_h1 {
    top: calc(100%/32*0);
    left: calc(100%/46*12)
}

#io1Arrow_div {
    top: calc(100%/32*0);
    left: calc(100%/46*14)
}

#io1RegisterValue_h2 {
    top: calc(100%/32*0);
    left: calc(100%/46*16)
}

#io1InputWindow_div {
    position: absolute;
    top: calc(100%/32*0);
    left: calc(100%/46*12);
    width: calc(100%/46*6);
    height: calc(100%/32*6);
    z-index: 4;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 2fr 4fr;
    grid-template-rows: 2fr 4fr
}

#io2Label_h1 {
    top: calc(100%/32*0);
    left: calc(100%/46*20)
}

#io2Arrow_div {
    top: calc(100%/32*0);
    left: calc(100%/46*22)
}

#io2RegisterValue_h2 {
    top: calc(100%/32*0);
    left: calc(100%/46*24)
}

#io2InputWindow_div {
    position: absolute;
    top: calc(100%/32*0);
    left: calc(100%/46*20);
    width: calc(100%/46*6);
    height: calc(100%/32*6);
    z-index: 4;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 2fr 4fr;
    grid-template-rows: 2fr 4fr
}

#io3Label_h1 {
    top: calc(100%/32*0);
    left: calc(100%/46*28)
}

#io3Arrow_div {
    top: calc(100%/32*0);
    left: calc(100%/46*30)
}

#io3RegisterValue_h2 {
    top: calc(100%/32*0);
    left: calc(100%/46*32)
}

#io3InputWindow_div {
    position: absolute;
    top: calc(100%/32*0);
    left: calc(100%/46*28);
    width: calc(100%/46*6);
    height: calc(100%/32*6);
    z-index: 4;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 2fr 4fr;
    grid-template-rows: 2fr 4fr
}

#aRegisterValue_h2 {
    top: calc(100%/32*6);
    left: calc(100%/46*13)
}

#aRegisterLabel_h1 {
    top: calc(100%/32*6);
    left: calc(100%/46*12)
}

#flags {
    top: calc(100%/32*6);
    left: calc(100%/46*15);
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: repeat(4,1fr)
}

#movingFlags_div {
    position: absolute;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: repeat(4,1fr);
    width: calc(100%/46*4);
    height: calc(100%/32*1);
    top: calc(100%/32*8);
    left: calc(100%/46*15)
}

#bRegisterValue_h2 {
    top: calc(100%/32*10);
    left: calc(100%/46*13)
}

#bRegisterLabel_h1 {
    top: calc(100%/32*10);
    left: calc(100%/46*12)
}

#cRegisterValue_h2 {
    top: calc(100%/32*10);
    left: calc(100%/46*15)
}

#cRegisterLabel_h1 {
    top: calc(100%/32*10);
    left: calc(100%/46*17)
}

#hlRegisterValue_h2 {
    top: calc(100%/32*12);
    left: calc(100%/46*14)
}

#hlRegisterLabel_h1 {
    top: calc(100%/32*12);
    left: calc(100%/46*12)
}

#ixRegisterValue_h2 {
    top: calc(100%/32*14);
    left: calc(100%/46*14)
}

#ixRegisterLabel_h1 {
    top: calc(100%/32*14);
    left: calc(100%/46*12)
}

#spRegisterValue_h2 {
    top: calc(100%/32*16);
    left: calc(100%/46*14)
}

#spRegisterLabel_h1 {
    top: calc(100%/32*16);
    left: calc(100%/46*12)
}

#pcRegisterValue_h2 {
    top: calc(100%/32*18);
    left: calc(100%/46*14)
}

#pcRegisterLabel_h1 {
    top: calc(100%/32*18);
    left: calc(100%/46*12)
}

#zrRegisterValue_h2 {
    top: calc(100%/32*20);
    left: calc(100%/46*14)
}

#zrRegisterLabel_h1 {
    top: calc(100%/32*20);
    left: calc(100%/46*12)
}

#alu1RegisterValue_h2 {
    top: calc(100%/32*6);
    left: calc(100%/46*24)
}

#alu2RegisterValue_h2 {
    top: calc(100%/32*6);
    left: calc(100%/46*30)
}

#aluOutRegisterValue_h2 {
    top: calc(100%/32*10);
    left: calc(100%/46*27)
}

.controlUnitLabel {
    top: calc(100%/32*14);
    left: calc(100%/46*22);
    font-family: Arial,Helvetica,sans-serif
}

#irRegisterLabel_h1 {
    top: calc(100%/32*14);
    left: calc(100%/46*30)
}

#irRegisterValue_h2 {
    top: calc(100%/32*14);
    left: calc(100%/46*32)
}

.containerAssemblerCommand {
    top: calc(100%/32*16);
    left: calc(100%/46*22);
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    -ms-grid-columns: 5fr 1fr;
    grid-template-columns: 5fr 1fr
}

.containerControlUnit2 {
    top: calc(100%/32*18);
    left: calc(100%/46*22);
    display: -ms-grid;
    display: grid;
    justify-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-grid-rows: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr
}

.containerStepDescription_div {
    display: -ms-grid;
    display: grid;
    justify-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    width: 100%;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    -ms-grid-columns: 1fr 5fr;
    grid-template-columns: 1fr 5fr
}

.containerStepNumber {
    display: -ms-grid;
    display: grid;
    justify-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 60%;
    width: 60%
}

#assemblerCommand_p {
    font-family: Arial,Helvetica,sans-serif;
    font-weight: 700
}

#stepDescription_p {
    -ms-grid-column-align: start;
    justify-self: start;
    font-family: Arial,Helvetica,sans-serif
}

.containerDecoderLines {
    display: -ms-grid;
    display: grid;
    height: 100%;
    width: 100%;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    -ms-grid-columns: 4fr 2fr;
    grid-template-columns: 4fr 2fr
}

.decoderBits {
    display: -ms-grid;
    display: grid;
    height: 100%;
    width: 100%;
    -ms-grid-rows: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: repeat(4,1fr)
}

#decoderLabel_h1 {
    top: calc(100%/32*26);
    left: calc(100%/46*26)
}

#decDisplay_p {
    top: calc(100%/32*26);
    left: calc(100%/46*28);
    font-family: Arial,Helvetica,sans-serif;
    padding-left: .5%
}

.ir_arrow {
    width: 100%;
    height: 100%;
    background-image: url(images/ir_arrow.svg)
}

#registerArrow_div {
    position: absolute;
    top: calc(100%/32*10);
    left: calc(100%/46*18);
    height: calc(100%/32*12);
    width: calc(100%/46*4)
}

.PC_arrow {
    background-image: url(images/pc_arrow.svg)
}

.ZR_arrow {
    background-image: url(images/zr_arrow.svg)
}

.HL_arrow {
    background-image: url(images/hl_arrow.svg)
}

.IX_arrow {
    background-image: url(images/ix_arrow.svg)
}

.SP_arrow {
    background-image: url(images/sp_arrow.svg)
}

.flags_arrow {
    position: absolute;
    top: calc(100%/32*8);
    left: calc(100%/46*19);
    height: calc(100%/32*1);
    width: calc(100%/46*6);
    background-image: url(images/flags_arrow.svg)
}

.cFlag_arrow {
    position: absolute;
    top: calc(100%/32*7);
    left: calc(100%/46*19);
    height: calc(100%/32*1);
    width: calc(100%/46*5);
    background-image: url(images/cFlag_arrow.svg)
}

.jump_arrow {
    position: absolute;
    top: calc(100%/32*7);
    left: calc(100%/46*19);
    height: calc(100%/32*13);
    width: calc(100%/46*3);
    background-image: url(images/jump_arrow.svg)
}

.buttonPressed {
    background-color: #19b2ff70
}

.borderRight {
    border-right: .1px solid #6a6a6a
}

.controlPanel {
    position: absolute;
    height: calc(100%/32*2);
    width: calc(100%/46*26);
    top: calc(100%/32*30);
    left: calc(100%/46*10);
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: repeat(13,1fr)
}

#play_button {
    background-image: url(images/play_button.svg);
    background-size: 50%
}

.black #play_button {
    background-image: url(images/playWhite_button.svg)
}

#pause_button {
    background-image: url(images/pause_button.svg);
    background-size: 50%
}

.black #pause_button {
    background-image: url(images/pauseWhite_button.svg)
}

#stop_button {
    background-image: url(images/stop_button.svg);
    background-size: 50%
}

.black #stop_button {
    background-image: url(images/stopWhite_button.svg)
}

#slow_button {
    background-image: url(images/slow_button.svg);
    background-size: 60%
}

.black #slow_button {
    background-image: url(images/slowWhite_button.svg)
}

#fast_button {
    background-image: url(images/fast_button.svg);
    background-size: 60%
}

.black #fast_button {
    background-image: url(images/fastWhite_button.svg)
}

#increase_button {
    background-image: url(images/increase_button.svg);
    background-size: 50%
}

.black #increase_button {
    background-image: url(images/increaseWhite_button.svg)
}

#decrease_button {
    background-image: url(images/decrease_button.svg);
    background-size: 50%
}

.black #decrease_button {
    background-image: url(images/decreaseWhite_button.svg)
}

#oneCommand_button {
    background-image: url(images/oneCommand_button.svg);
    background-size: 80%
}

.black #oneCommand_button {
    background-image: url(images/oneCommandWhite_button.svg)
}

#singleStep_button {
    background-image: url(images/singleStep_button.svg);
    background-size: 60%
}

.black #singleStep_button {
    background-image: url(images/singleStepWhite_button.svg)
}

#fullCommand_button {
    background-image: url(images/fullCommand_button.svg);
    background-size: 60%
}

.black #fullCommand_button {
    background-image: url(images/fullCommandWhite_button.svg)
}

#settingsButton_button {
    background-image: url(images/settings_button.svg);
    background-size: 60%
}

.black #settingsButton_button {
    background-image: url(images/settingsWhite_button.svg)
}

#fullscreenButton_button {
    background-image: url(images/fullscreen_button.svg);
    background-size: 70%
}

.black #fullscreenButton_button {
    background-image: url(images/fullscreenWhite_button.svg)
}

#toggleTheme_button {
    background-image: url(images/toggleTheme_button.svg);
    background-size: 70%
}

.black #toggleTheme_button {
    background-image: url(images/toggleThemeWhite_button.svg)
}

.settingsWindow {
    position: absolute;
    display: none;
    z-index: 8;
    background-color: rgba(50,50,50,.8);
    height: 100%;
    width: 100%
}

.settingsWindow p {
    color: #222;
    font-family: Arial,Helvetica,sans-serif
}

.settingsWindow button {
    position: absolute;
    height: calc(100%/26*2);
    width: calc(100%/39*6);
    background-color: #96dafc
}

.settingsWindow button:hover {
    background-color: #19b2ff
}

.radioContainer {
    position: absolute;
    height: calc(100%/26*1);
    width: calc(100%/39*1);
    cursor: pointer;
    display: -ms-grid;
    display: grid;
    justify-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.radioContainer input {
    position: absolute;
    margin: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    cursor: pointer
}

.checkmark {
    height: 70%;
    width:  70%;
    background-color: #fff;
    border-radius: 50%;
}

.radioContainer input:checked~.checkmark {
    background-color: #96dafc
}

/* TODO: prefix */

.customSelect{
    position:absolute;
    cursor: pointer;
    background-color: white;
    display: grid;
    padding-left: .3%;
}

.customSelect:hover{
    background-color: #96dafc;
}

#programSelection_div{
    top: calc(100%/26*4);
    left: calc(100%/39*2);
    height: calc(100%/26*1);
    width: calc(100%/39*13);
    grid-template-columns: 12fr 1fr;
    grid-template-rows: 1fr;
}

#ramSelect_div{
    top: calc(100%/26*17);
    left: calc(100%/39*22);
    height: calc(100%/26*1);
    width: calc(100%/39*6);
    grid-template-columns: 5fr 1fr;
    grid-template-rows: 1fr;
}

.selectOptions{
    position: absolute;
    top: calc(100%/32*2);
    left: calc(100%/46*2);
    height: calc(100%/32*28);
    width: calc(100%/46*42);
    background-color: #fbfbfbf6;
    cursor: pointer;

    z-index: 12;
    overflow-x: hidden;
    overflow-y: auto;
}

#ramSelectOptions_div{
    text-align: center; 
}

.option{
    display: grid;
    align-items: center;
    border-bottom: 1px solid #dbdbdb;
    padding: 20px;
}

.option:hover{
    background-color: #bbbbbb; 
}

.innerSettings {
    position: absolute;
    background-color: #fbfbfb;
    border: 2px solid #19b2ff;
    height: calc(100%/32*28);
    width: calc(100%/46*42);
    top: calc(100%/32*2);
    left: calc(100%/46*2)
}

#programSelection_select {
    position: absolute;
    top: calc(100%/26*4);
    left: calc(100%/39*2);
    width: calc(100%/39*13);
    height: calc(100%/26*1);
    letter-spacing: .2px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

#linkerFile_textarea {
    position: absolute;
    top: calc(100%/26*7);
    left: calc(100%/39*2);
    height: calc(100%/26*15);
    width: calc(100%/39*13);
    letter-spacing: .2px;
    padding: .7% .7%;
    resize: none;
    line-height: 130%
}

.ioRectangle {
    position: absolute;
    width: calc(100%/39*6);
    height: calc(100%/26*6)
}

.addressInput {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 90%
}

#io1Address_textarea {
    width: 100%;
    height: 100%
}

#io2Address_textarea {
    width: 100%;
    height: 100%
}

#io3Address_textarea {
    width: 100%;
    height: 100%
}

.containerIo1Konfig {
    position: absolute;
    top: calc(100%/26*7);
    left: calc(100%/39*17);
    width: calc(100%/39*6);
    height: calc(100%/26*6)
}

.containerIo2Konfig {
    position: absolute;
    top: calc(100%/26*7);
    left: calc(100%/39*24);
    width: calc(100%/39*6);
    height: calc(100%/26*6)
}

.containerIo3Konfig {
    position: absolute;
    top: calc(100%/26*7);
    left: calc(100%/39*31);
    width: calc(100%/39*6);
    height: calc(100%/26*6)
}

#ramAddress_select {
    position: absolute;
    top: calc(100%/26*17);
    left: calc(100%/39*22);
    width: calc(100%/39*6);
    height: calc(100%/26*1)
}

.containerBreakpoints {
    position: absolute;
    top: calc(100%/26*23);
    left: calc(100%/39*2);
    height: calc(100%/26*1);
    width: calc(100%/39*1);
    margin: 0 0;
    background-color: white;
    cursor: pointer;
}
#breakpointsCheckbox_div{
    height: 80%;
    width: 80%;
}
.breakpointsMark{
    background-color:  #96dafc;
    background-image: url(images/breakpoint_checkmark.svg);
}

#errorWindow_div {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
    position: absolute;
    top: calc(100%/26*19);
    left: calc(100%/39*17);
    height: calc(100%/26*5);
    width: calc(100%/39*13);
    padding: .5%;
    background-color: #ff0
}

#errorMessage_textarea {
    border-top: .1px solid #6a6a6a;
    border-left: none;
    border-right: none;
    border-bottom: none
}

#closeSettings_button {
    top: calc(100%/26*22);
    left: calc(100%/39*31)
}

#toAssembler_button {
    top: calc(100%/26*19);
    left: calc(100%/39*31)
}

#info_button {
    top: calc(100%/26*16);
    left: calc(100%/39*31)
}

#infoWindow_div {
    position: absolute;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    z-index: 10;
    top: calc(100%/26*2);
    left: calc(100%/39*2);
    height: calc(100%/26*22);
    width: calc(100%/39*27.5);
    background-color: #fbfbfbec
}

.hoverElement {
    display: none;
    z-index: 6;
    position: absolute;
    background-color: #ff0;
    padding: 0 .5%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #222;
    font-family: Arial,Helvetica,sans-serif
}

.hoverElement p {
    color: #222;
    font-family: Arial,Helvetica,sans-serif
}

#romLabelHover_div {
    -ms-grid-columns: 4fr 2fr 2fr;
    grid-template-columns: 4fr 2fr 2fr;
    -ms-grid-rows: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(4,1fr);
    top: calc(100%/32*2);
    left: calc(100%/46*0);
    width: calc(100%/46*10);
    height: calc(100%/32*4)
}

#ramLabelHover_div {
    -ms-grid-columns: 4fr 2fr 2fr;
    grid-template-columns: 4fr 2fr 2fr;
    -ms-grid-rows: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(4,1fr);
    top: calc(100%/32*2);
    left: calc(100%/46*36);
    width: calc(100%/46*10);
    height: calc(100%/32*4)
}

.io_hover {
    -ms-grid-columns: 1fr 2fr;
    grid-template-columns: 1fr 2fr;
    -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(5,1fr);
    top: calc(100%/32*2);
    width: calc(100%/46*6);
    height: calc(100%/32*5)
}

#io1LabelHover_div {
    left: calc(100%/46*12)
}

#io2LabelHover_div {
    left: calc(100%/46*20)
}

#io3LabelHover_div {
    left: calc(100%/46*28)
}

#aLabelHover_div {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
    grid-template-rows: repeat(3,1fr);
    top: calc(100%/32*8);
    left: calc(100%/46*12);
    width: calc(100%/46*7);
    height: calc(100%/32*3)
}

#bLabelHover_div {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
    grid-template-rows: repeat(3,1fr);
    top: calc(100%/32*12);
    left: calc(100%/46*12);
    width: calc(100%/46*6);
    height: calc(100%/32*3)
}

#cLabelHover_div {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
    grid-template-rows: repeat(3,1fr);
    top: calc(100%/32*12);
    left: calc(100%/46*12);
    width: calc(100%/46*6);
    height: calc(100%/32*3)
}

#hlLabelHover_div {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    top: calc(100%/32*14);
    left: calc(100%/46*12);
    width: calc(100%/46*7);
    height: calc(100%/32*2)
}

#ixLabelHover_div {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    top: calc(100%/32*16);
    left: calc(100%/46*12);
    width: calc(100%/46*6);
    height: calc(100%/32*2)
}

#spLabelHover_div {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    top: calc(100%/32*18);
    left: calc(100%/46*12);
    width: calc(100%/46*6);
    height: calc(100%/32*2)
}

#pcLabelHover_div {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr;
    grid-template-rows: repeat(2,1fr);
    top: calc(100%/32*20);
    left: calc(100%/46*12);
    width: calc(100%/46*7);
    height: calc(100%/32*2)
}

#zrLabelHover_div {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    top: calc(100%/32*22);
    left: calc(100%/46*12);
    width: calc(100%/46*7);
    height: calc(100%/32*2)
}

#irLabelHover_div {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    top: calc(100%/32*16);
    left: calc(100%/46*30);
    width: calc(100%/46*6);
    height: calc(100%/32*2)
}

#cFlagHover_div {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    top: calc(100%/32*5);
    left: calc(100%/46*15);
    width: calc(100%/46*5);
    height: calc(100%/32*1)
}

#zFlagHover_div {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    top: calc(100%/32*5);
    left: calc(100%/46*15);
    width: calc(100%/46*4);
    height: calc(100%/32*1)
}

#pFlagHover_div {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    top: calc(100%/32*5);
    left: calc(100%/46*15);
    width: calc(100%/46*8);
    height: calc(100%/32*1)
}

#sFlagHover_div {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    top: calc(100%/32*5);
    left: calc(100%/46*15);
    width: calc(100%/46*4);
    height: calc(100%/32*1)
}

#decoderHover_div {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    top: calc(100%/32*22);
    left: calc(100%/46*22);
    width: calc(100%/46*12);
    height: calc(100%/32*4)
}

.decoderLines_hover {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 3fr;
    grid-template-rows: 1fr 3fr;
    top: calc(100%/32*21);
    left: calc(100%/46*22);
    width: calc(100%/46*12);
    height: calc(100%/32*4)
}

.button_hover {
    padding: .5%;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 2fr;
    grid-template-rows: 1fr 2fr;
    width: calc(100%/46*10);
    height: calc(100%/32*3);
    top: calc(100%/32*27)
}

#playHover_div {
    left: calc(100%/46*10)
}

#pauseHover_div {
    left: calc(100%/46*10)
}

#stopHover_div {
    left: calc(100%/46*10)
}

#slowHover_div {
    left: calc(100%/46*12)
}

#fastHover_div {
    left: calc(100%/46*14)
}

#increaseHover_div {
    left: calc(100%/46*16)
}

#decreaseHover_div {
    left: calc(100%/46*18)
}

#oneCommandHover_div {
    left: calc(100%/46*20)
}

#singleStepHover_div {
    left: calc(100%/46*22)
}

#fullCommandHover_div {
    left: calc(100%/46*24)
}

#settingsButtonHover_div {
    left: calc(100%/46*24)
}

#fullscreenButtonHover_div {
    left: calc(100%/46*26)
}

#toggleThemeHover_div {
    left: calc(100%/46*26)
}

.displayNone {
    display: none
}

.toggleDisplay {
    display: unset
}

.toggleGrid {
    display: -ms-grid;
    display: grid
}