:root{
    --light: #fbfbfb;
    --blue: #19b2ff;
    --lightBlue: #96dafc;
    --red: #ff1930;
    --yellow: yellow;
    --black: #222;
    --grey: #6a6a6a;

    --width: calc(100/50);
    --height: calc(100/32);
}

html,body {
    margin: 0;
    padding: 0;
    background: var(--light);
}

body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}
/* load images in cache */
body::after{
    position:absolute; width:0; height:0; overflow:hidden; z-index:-1;
    content:url(images/pathElementBg.svg)
            url(images/playWhite_button.svg)
            url(images/pauseWhite_button.svg)
            url(images/stopWhite_button.svg)
            url(images/slowWhite_button.svg)
            url(images/fastWhite_button.svg)
            url(images/singleStepWhite_button.svg)
            url(images/fullCommandWhite_button.svg)
            url(images/increaseWhite_button.svg)
            url(images/decreaseWhite_button.svg)
            url(images/oneCommandWhite_button.svg)
            url(images/settingsWhite_button.svg)
            url(images/fullscreenWhite_button.svg)
            url(images/toggleThemeWhite_button.svg)
            url(images/hl_arrow.svg)
            url(images/ir_arrow.svg)
            url(images/ix_arrow.svg)
            url(images/pc_arrow.svg)
            url(images/sp_arrow.svg)
            url(images/zr_arrow.svg)
            url(images/ioIn_arrow.svg)
            url(images/jump_arrow.svg)
            url(images/cFlag_arrow.svg)
            url(images/flags_arrow.svg)
            url(images/ioOut_arrow.svg)
            url(images/breakpoint_checkmark.svg)
            url(images/busSystemWhite_v2.svg)
            ;
 }

@font-face {
    src:url(fonts/DroidSansMono-enMp.ttf);font-family:droid-mono
}

h1 {
    margin: 0;
    padding: 0;
    color: var(--blue);
    font-family: Arial,Helvetica,sans-serif;
    cursor: pointer
}

h2 {
    margin: 0;
    padding: 0;
    color: var(--black);
    letter-spacing: 1px;
    font-family: droid-mono
}

h3 {
    margin: 0;
    padding: 0;
    color: var(--blue);
    text-decoration: overline;
    font-family: Arial,Helvetica,sans-serif;
    cursor: pointer
}

h4 {
    margin: 0;
    padding: 0;
    color: var(--black);
    font-family: Arial,Helvetica,sans-serif
}

h5{
    margin: 0;
    padding: 0;
    color: var(--black);
    font-family: Arial,Helvetica,sans-serif;
    font-size: 17px;
}

p {
    margin: 0;
    padding: 0;
    color: var(--black);
    font-family: droid-mono
}

textarea {
    padding: 7% 0 0 0;
    outline: 0;
}

button {
    width: 100%;
    height: 100%;
    padding: 0 0;
    border: 0;
    cursor: pointer;
    background-color: transparent;
    border-color: transparent;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: 0
}

.button{
    width: 100%;
    height: 100%;
    padding: 0 0;
    border: 0;
    cursor: pointer;
    background-color: transparent;
    border-color: transparent;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: 0
}

.button:hover{
    background-color: var(--lightBlue);
    -webkit-transition: all .1s linear;
    -o-transition: all .1s linear;
    transition: all .1s linear
}

input {
    font-family: droid-mono;
    outline: 0;
    padding: 0;
    margin: 0
}

select {
    outline: 0
}

.arial {
    font-family: Arial,Helvetica,sans-serif
}

.bold {
    font-weight: 700
}

.blueText {
    color: var(--blue)
}

.textareaFontSize {
    font-family: Arial,Helvetica,sans-serif
}

.alignTextRight {
    text-align: end;
}

.gridChild {
    display: -ms-grid;
    display: grid;
    height: 100%;
    width: 100%;
    justify-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}
.size100 {
    height: 100%;
    width: 100%;
}

.centeredHorizontal {
    display: -ms-grid;
    display: grid;
    -ms-flex-line-pack: center;
    align-items: center
}

.centeredVertical {
    display: -ms-grid;
    display: grid;
    justify-items: center
}

.centered {
    display: -ms-grid;
    display: grid;
    justify-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.alignBg {
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat
}

.borderBox {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: .1px solid var(--grey)
}
.noLeftBorder{
    border-left: none;
}
.noRightBorder{
    border-right: none;
}

.topLeft {
    border-top-left-radius: 5px
}

.topRight {
    border-top-right-radius: 5px
}

.bottomLeft {
    border-bottom-left-radius: 5px
}

.bottomRight {
    border-bottom-right-radius: 5px
}

.rounded {
    border-radius: 5px
}

.lightRounded {
    border-radius: 3px
}

.black {
    background-color: #111
}

.black h2,.black p, .black input.romElement {
    color: white
}

.black input.blueText {
    color: var(--blue);
}

.yellowBg {
    background-color: var(--yellow);
    color: var(--black)
}

h2.yellowBg,p.yellowBg,.yellowBg p,.yellowBg h2 {
    color: var(--black)
}

.lightBlueBg {
    background-color: var(--lightBlue)
}

.whiteBg{
    background-color: white;
}

.redBg {
    background-color: var(--red);
    color: var(--light)
}

.lightYellowBg,.lightYellowBg p {
    background-color: #ffff5c;
    color: var(--black)
}

.pathElement {
    background-color: var(--yellow);
    background-image: url(images/pathElementBg.svg)
}

.positionAbsolute {
    position: absolute
}

.square1x1 {
    height: calc(1%*var(--height));
    width: calc(1%*var(--width));
}

.square2x2 {
    /* height: calc(1%*var(--height)*2);
    width: calc(1%*var(--width)*2) */
    height: calc(1%*var(--height)*2);
    width: calc(1%*var(--width)*2);
}

.rectangle1x2 {
    height: calc(1%*var(--height)*2);
    width: calc(1%*var(--width)*1)
}

.rectangle3x2 {
    height: calc(1%*var(--height)*2);
    width: calc(1%*var(--width)*3)
}

.rectangle4x2 {
    height: calc(1%*var(--height)*2);
    width: calc(1%*var(--width)*4)
}

.rectangle6x2 {
    height: calc(1%*var(--height)*2);
    width: calc(1%*var(--width)*6)
}

.rectangle8x2 {
    height: calc(1%*var(--height)*2);
    width: calc(1%*var(--width)*8)
}

.rectangle12x2 {
    height: calc(1%*var(--height)*2);
    width: calc(1%*var(--width)*12)
}

.rectangle12x4 {
    height: calc(1%*var(--height)*4);
    width: calc(1%*var(--width)*12)
}

.movingObject {
    z-index: 3;
}

.redRectangle {
    border-color: var(--red);
    z-index: 1;
    pointer-events: none;
}

.containerAspectRatio {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    top: 0px;
    /* left: 0px; */
    margin: 0px auto;
}

#mc8_div {
    width: 98%;
    height: 98%;
    position: relative;
    background-image: url(images/busSystem_v2.svg)
}
.black #mc8_div{
    background-image: url(images/busSystemWhite_v2.svg)
}

.rom {
    height: 100%;
    width: calc(1%*var(--width)*10);
    top: 0;
    left: 0;
    -ms-grid-columns: 1fr 4fr;
    grid-template-columns: 1fr 4fr;
    -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(16,1fr)
}

.romElement{
    cursor: pointer;
    border: none;
    background-color: transparent;
    text-align: center;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 0;
    margin: 0;
}

.breakpoint{
    border: 0.1px solid var(--blue);
    background-color: var(--lightBlue);
    color: var(--black);
}
.black input.breakpoint {
    color: var(--black);
}

.romTextarea{
    resize: none;
    background-color: var(--light);
    text-align: center;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 0;
    margin: 0;
}

.addressLabel1toF {
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: repeat(8,1fr);
    -ms-grid-rows: 1fr 1fr;
    grid-template-rows: 1fr 1fr
}

.ellipses {
    background-image: url(images/ellipses.svg)
}

.ram {
    height: 100%;
    width: calc(1%*var(--width)*10);
    top: 0;
    left: calc(1%*var(--width)*40);
    -ms-grid-columns: 4fr 1fr;
    grid-template-columns: 4fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(16,1fr)
}

.ioArrow {
    background-image: url(images/ioIn_arrow.svg);
    background-position: center center;
    background-size: 37%;
    background-repeat: no-repeat
}

.ioArrowOUT {
    background-image: url(images/ioOut_arrow.svg)
}


.containerIo1{
    top: calc(1%*var(--height)*0);
    left: calc(1%*var(--width)*14);
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
}

#io1InputWindow_div {
    position: absolute;
    top: calc(1%*var(--height)*0);
    left: calc(1%*var(--width)*14);
    width: calc(1%*var(--width)*6);
    height: calc(1%*var(--height)*6);
    z-index: 4;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 2fr 4fr;
    grid-template-rows: 2fr 4fr
}

.containerIo2 {
    top: calc(1%*var(--height)*0);
    left: calc(1%*var(--width)*22);
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
}

#io2InputWindow_div {
    position: absolute;
    top: calc(1%*var(--height)*0);
    left: calc(1%*var(--width)*22);
    width: calc(1%*var(--width)*6);
    height: calc(1%*var(--height)*6);
    z-index: 4;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 2fr 4fr;
    grid-template-rows: 2fr 4fr
}

.containerIo3 {
    top: calc(1%*var(--height)*0);
    left: calc(1%*var(--width)*30);
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
}

#io3InputWindow_div {
    position: absolute;
    top: calc(1%*var(--height)*0);
    left: calc(1%*var(--width)*30);
    width: calc(1%*var(--width)*6);
    height: calc(1%*var(--height)*6);
    z-index: 4;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 2fr 4fr;
    grid-template-rows: 2fr 4fr
}

#aRegisterValue_h2 {
    top: calc(1%*var(--height)*6);
    left: calc(1%*var(--width)*15)
}

#aRegisterLabel_h1 {
    top: calc(1%*var(--height)*6);
    left: calc(1%*var(--width)*14)
}

#flagsContainer_div{
    top: calc(1%*var(--height)*6);
    left: calc(1%*var(--width)*17);
    -ms-grid-rows: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: repeat(4,1fr)
}

#movingFlags_div {
    position: absolute;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: repeat(4,1fr);
    width: calc(1%*var(--width)*3);
    height: calc(1%*var(--height)*1);
    top: calc(1%*var(--height)*8);
    left: calc(1%*var(--width)*17)
}

#bRegisterValue_h2 {
    top: calc(1%*var(--height)*10);
    left: calc(1%*var(--width)*16)
}

#bRegisterLabel_h1 {
    top: calc(1%*var(--height)*10);
    left: calc(1%*var(--width)*14)
}

#cRegisterValue_h2 {
    top: calc(1%*var(--height)*10);
    left: calc(1%*var(--width)*18)
}

#cRegisterLabel_h1 {
    top: calc(1%*var(--height)*10);
    left: calc(1%*var(--width)*15)
}



#hlRegisterLabel_h1 {
    top: calc(1%*var(--height)*12);
    left: calc(1%*var(--width)*14)
}
#hlBackground_div {
    top: calc(1%*var(--height)*12);
    left: calc(1%*var(--width)*16)
}
#hlRegisterValueHi_h2 {
    top: calc(1%*var(--height)*12);
    left: calc(1%*var(--width)*16)
}
#hlRegisterValueLo_h2 {
    top: calc(1%*var(--height)*12);
    left: calc(1%*var(--width)*18);
}

#ixRegisterLabel_h1 {
    top: calc(1%*var(--height)*14);
    left: calc(1%*var(--width)*14)
}
#ixRegisterValueHi_h2 {
    top: calc(1%*var(--height)*14);
    left: calc(1%*var(--width)*16)
}
#ixRegisterValueLo_h2 {
    top: calc(1%*var(--height)*14);
    left: calc(1%*var(--width)*18);
}
#ixBackground_div {
    top: calc(1%*var(--height)*14);
    left: calc(1%*var(--width)*16)
}

#spRegisterLabel_h1 {
    top: calc(1%*var(--height)*16);
    left: calc(1%*var(--width)*14)
}
#spRegisterValueHi_h2 {
    top: calc(1%*var(--height)*16);
    left: calc(1%*var(--width)*16)
}
#spRegisterValueLo_h2 {
    top: calc(1%*var(--height)*16);
    left: calc(1%*var(--width)*18);
}
#spBackground_div {
    top: calc(1%*var(--height)*16);
    left: calc(1%*var(--width)*16)
}

#pcRegisterLabel_h1 {
    top: calc(1%*var(--height)*18);
    left: calc(1%*var(--width)*14)
}
#pcRegisterValueHi_h2 {
    top: calc(1%*var(--height)*18);
    left: calc(1%*var(--width)*16)
}
#pcRegisterValueLo_h2 {
    top: calc(1%*var(--height)*18);
    left: calc(1%*var(--width)*18);
}
#pcBackground_div{
    top: calc(1%*var(--height)*18);
    left: calc(1%*var(--width)*16)
}

#zrRegisterLabel_h1 {
    top: calc(1%*var(--height)*20);
    left: calc(1%*var(--width)*14)
}
#zrRegisterValueHi_h2 {
    top: calc(1%*var(--height)*20);
    left: calc(1%*var(--width)*16)
}
#zrRegisterValueLo_h2 {
    top: calc(1%*var(--height)*20);
    left: calc(1%*var(--width)*18);
}
#zrBackground_div {
    top: calc(1%*var(--height)*20);
    left: calc(1%*var(--width)*16)
}



#alu1RegisterValue_h2 {
    top: calc(1%*var(--height)*6);
    left: calc(1%*var(--width)*26)
}

#alu2RegisterValue_h2 {
    top: calc(1%*var(--height)*6);
    left: calc(1%*var(--width)*30)
}

#aluOutRegisterValue_h2 {
    top: calc(1%*var(--height)*10);
    left: calc(1%*var(--width)*28)
}

.controlUnitLabel {
    top: calc(1%*var(--height)*14);
    left: calc(1%*var(--width)*24);
    font-family: Arial,Helvetica,sans-serif
}

#irRegisterLabel_h1 {
    top: calc(1%*var(--height)*14);
    left: calc(1%*var(--width)*32)
}

#irRegisterValue_h2 {
    top: calc(1%*var(--height)*14);
    left: calc(1%*var(--width)*34)
}

.containerAssemblerCommand {
    top: calc(1%*var(--height)*16);
    left: calc(1%*var(--width)*24);
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    -ms-grid-columns: 5fr 1fr;
    grid-template-columns: 5fr 1fr
}

.containerControlUnit2 {
    top: calc(1%*var(--height)*18);
    left: calc(1%*var(--width)*24);
    -ms-grid-rows: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr
}

.containerStepDescription_div {
    height: 100%;
    width: 100%;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    -ms-grid-columns: 1fr 5fr;
    grid-template-columns: 1fr 5fr
}

.containerStepNumber {
    height: 60%;
    width: 60%
}

#assemblerCommand_p {
    font-family: Arial,Helvetica,sans-serif;
    font-weight: 700
}

#stepDescription_p {
    -ms-grid-column-align: start;
    justify-self: start;
    font-family: Arial,Helvetica,sans-serif
}

.containerDecoderLines {
    height: 100%;
    width: 100%;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    -ms-grid-columns: 4fr 2fr;
    grid-template-columns: 4fr 2fr
}

.decoderBits {
    height: 100%;
    width: 100%;
    -ms-grid-rows: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: repeat(4,1fr)
}

#decoderLabel_h1 {
    top: calc(1%*var(--height)*26);
    left: calc(1%*var(--width)*26)
}

#decDisplay_p {
    top: calc(1%*var(--height)*26);
    left: calc(1%*var(--width)*30);
    font-family: Arial,Helvetica,sans-serif;
    padding-left: .5%
}

.ir_arrow {
    width: 100%;
    height: 100%;
    background-image: url(images/ir_arrow.svg)
}

#registerArrow_div {
    position: absolute;
    top: calc(1%*var(--height)*10);
    left: calc(1%*var(--width)*20);
    height: calc(1%*var(--height)*12);
    width: calc(1%*var(--width)*4)
}

.PC_arrow {
    background-image: url(images/pc_arrow.svg)
}

.ZR_arrow {
    background-image: url(images/zr_arrow.svg)
}

.HL_arrow {
    background-image: url(images/hl_arrow.svg)
}

.IX_arrow {
    background-image: url(images/ix_arrow.svg)
}

.SP_arrow {
    background-image: url(images/sp_arrow.svg)
}

.flags_arrow {
    position: absolute;
    top: calc(1%*var(--height)*8);
    left: calc(1%*var(--width)*20);
    height: calc(1%*var(--height)*1);
    width: calc(1%*var(--width)*7);
    background-image: url(images/flags_arrow.svg)
}

.cFlag_arrow {
    position: absolute;
    top: calc(1%*var(--height)*7);
    left: calc(1%*var(--width)*20);
    height: calc(1%*var(--height)*1);
    width: calc(1%*var(--width)*6);
    background-image: url(images/cFlag_arrow.svg)
}

.jump_arrow {
    position: absolute;
    top: calc(1%*var(--height)*7);
    left: calc(1%*var(--width)*20);
    height: calc(1%*var(--height)*13);
    width: calc(1%*var(--width)*4);
    background-image: url(images/jump_arrow.svg)
}

.buttonPressed {
    background-color: var(--blue);
}

.borderRight {
    border-right: .1px solid #6a6a6a
}
.playReset{
    position: absolute;
    height: calc(1%*var(--height)*2);
    width: calc(1%*var(--width)*4);
    top: calc(1%*var(--height)*30);
    left: calc(1%*var(--width)*11);
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}
.animationType{
    position: absolute;
    height: calc(1%*var(--height)*2);
    width: calc(1%*var(--width)*6);
    top: calc(1%*var(--height)*30);
    left: calc(1%*var(--width)*16);
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}
#oneCommand_button{
    top: calc(1%*var(--height)*30);
    left: calc(1%*var(--width)*23);
}

.speed{
    position: absolute;
    height: calc(1%*var(--height)*2);
    width: calc(1%*var(--width)*8);
    top: calc(1%*var(--height)*30);
    left: calc(1%*var(--width)*26);
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    -ms-grid-columns: 1fr 6fr 1fr;
    grid-template-columns: 1fr 6fr 1fr;
}
.sliderContainer{
    width: 100%;
    height: 100%;
}
#speedSlider_input{
    width: 100%;
    height: 100%;
}

.settings {
    position: absolute;
    height: calc(1%*var(--height)*2);
    width: calc(1%*var(--width)*4);
    top: calc(1%*var(--height)*30);
    left: calc(1%*var(--width)*35);
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    -ms-grid-columns: 1fr 1fr ;
    grid-template-columns: repeat(2,1fr)
}

.playButton {
    background-image: url(images/play_button.svg);
    background-size: 50%
}

.black .playButton {
    background-image: url(images/playWhite_button.svg)
}

.pause_button {
    background-image: url(images/pause_button.svg);
    background-size: 50%
}

.black .pause_button {
    background-image: url(images/pauseWhite_button.svg)
}

#stop_button {
    background-image: url(images/stop_button.svg);
    background-size: 50%
}

.black #stop_button {
    background-image: url(images/stopWhite_button.svg)
}

#slow_button {
    background-image: url(images/slow_button.svg);
    background-size: 100%
}

.black #slow_button {
    background-image: url(images/slowWhite_button.svg)
}

#fast_button {
    background-image: url(images/fast_button.svg);
    background-size: 100%
}

#increase_button {
    background-image: url(images/increase_button.svg);
    background-size: 50%
}

.black #increase_button {
    background-image: url(images/increaseWhite_button.svg)
}

#decrease_button {
    background-image: url(images/decrease_button.svg);
    background-size: 50%
}

.black #decrease_button {
    background-image: url(images/decreaseWhite_button.svg)
}

#oneCommand_button {
    background-image: url(images/oneCommand_button.svg);
    background-size: 80%
}

.black #oneCommand_button {
    background-image: url(images/oneCommandWhite_button.svg)
}

#oneCommand_button.oneCommandPressed{
    background-image: url(images/oneCommandPressed_button.svg);
}
.black #oneCommand_button.oneCommandPressed {
    background-image: url(images/oneCommandWhitePressed_button.svg)
}

#singleStep_button {
    background-image: url(images/singleStep_button.svg);
    background-size: 60%
}

.black #singleStep_button {
    background-image: url(images/singleStepWhite_button.svg)
}

#fullCommand_button {
    background-image: url(images/fullCommand_button.svg);
    background-size: 100%
}

.black #fullCommand_button {
    background-image: url(images/fullCommandWhite_button.svg)
}

#settingsButton_button {
    background-image: url(images/settings_button.svg);
    background-size: 60%
}

.black #settingsButton_button {
    background-image: url(images/settingsWhite_button.svg)
}

#fullscreenButton_button {
    background-image: url(images/fullscreen_button.svg);
    background-size: 70%
}

.black #fullscreenButton_button {
    background-image: url(images/fullscreenWhite_button.svg)
}

.settingsWindow {
    position: absolute;
    display: none;
    z-index: 8;
    background-color: rgba(50,50,50,.8);
    height: 100%;
    width: 100%
}

.settingsWindow p {
    color: var(--black);
    font-family: Arial,Helvetica,sans-serif
}

.settingsWindow button {
    position: absolute;
    height: calc(100%/28*2);
    width: calc(100%/42*6);
    background-color: var(--lightBlue)
}

.settingsWindow button:hover {
    background-color: var(--blue)
}

.radioContainer {
    position: absolute;
    height: calc(100%/28*1);
    width: calc(100%/42*1);
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.radioContainer input {
    position: absolute;
    margin: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    cursor: pointer
}

.checkmark {
    height: 70%;
    width:  70%;
    background-color: white;
    border-radius: 50%;
}

.radioContainer input:checked~.checkmark {
    background-color: var(--lightBlue)
}

.customSelect{
    position:absolute;
    cursor: pointer;
    background-color: white;
    padding-left: .3%;
}

.customSelect:hover{
    background-color: var(--lightBlue);
}



#programSelection_div{
    top: calc(100%/28*4);
    left: calc(100%/42*2);
    height: calc(100%/28*1);
    width: calc(100%/42*14);
    -ms-grid-columns: 13fr 1fr;
    grid-template-columns: 13fr 1fr;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
}


#ramSelect_div{
    top: calc(100%/28*17);
    left: calc(100%/42*25);
    height: calc(100%/28*1);
    width: calc(100%/42*6);
    -ms-grid-columns: 5fr 1fr;
    grid-template-columns: 5fr 1fr;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
}

.selectOptions{
    position: absolute;   
    background-color: white;
    cursor: pointer;

    z-index: 12;
    overflow-x: hidden;
    overflow-y: auto;
}

.programSelect{
    top: calc(1%*var(--height)*7);
    left: calc(1%*var(--width)*6);
    height: calc(1%*var(--height)*21);
    width: calc(1%*var(--width)*14);
}

.ramSelect{
    text-align: center;
    top: calc(1%*var(--height)*20);
    left: calc(1%*var(--width)*29);
    height: calc(1%*var(--height)*8);
    width: calc(1%*var(--width)*6);
}

.option{
    font-size: 13px;
    padding: 4px;
}


@media screen and (max-width: 768px), screen and (max-height: 500px){
    .selectOptions{
        top: calc(1%*var(--height)*2);
        left: calc(1%*var(--width)*4);
        height: calc(1%*var(--height)*28);
        width: calc(1%*var(--width)*42);
    }
    .option{
        border-bottom: 1px solid #dbdbdb;
        padding: 20px;
    }
}

.option:hover{
    background-color: lightgrey; 
}

.innerSettings {
    position: absolute;
    background-color: var(--light);
    height: calc(1%*var(--height)*28);
    width: calc(1%*var(--width)*42);
    top: calc(1%*var(--height)*2);
    left: calc(1%*var(--width)*4)
}

#programSelection_select {
    position: absolute;
    top: calc(100%/28*4);
    left: calc(100%/42*2);
    width: calc(100%/42*14);
    height: calc(100%/28*1);
    letter-spacing: .2px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

#linkerFile_textarea {
    position: absolute;
    top: calc(100%/28*7);
    left: calc(100%/42*2);
    height: calc(100%/28*17);
    width: calc(100%/42*14);
    letter-spacing: .2px;
    padding: .7% .7%;
    resize: none;
    line-height: 130%
}

.ioRectangle {
    position: absolute;
    width: calc(100%/42*6);
    height: calc(100%/28*6)
}

.addressInput {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 90%
}
.ioAddressInput{
    padding: 6% 6% 0% 0%;
    text-align: right;
    resize: none;
    overflow:hidden;
    font-family: droid-mono;
}

.ioAddressWrapper{
    position: absolute;
    top: calc(100%/6*2);
    left: calc(100%/6*3);
    width: calc(100%/6*2);
    height: calc(100%/6*1);
}

#io1Address_textarea {
    width: 100%;
    height: 100%
}

#io2Address_textarea {
    width: 100%;
    height: 100%
}

#io3Address_textarea {
    width: 100%;
    height: 100%
}

.containerIo1Konfig {
    position: absolute;
    top: calc(100%/28*7);
    left: calc(100%/42*20);
    width: calc(100%/42*6);
    height: calc(100%/28*6)
}

.containerIo2Konfig {
    position: absolute;
    top: calc(100%/28*7);
    left: calc(100%/42*27);
    width: calc(100%/42*6);
    height: calc(100%/28*6)
}

.containerIo3Konfig {
    position: absolute;
    top: calc(100%/28*7);
    left: calc(100%/42*34);
    width: calc(100%/42*6);
    height: calc(100%/28*6)
}

#ramAddress_select {
    position: absolute;
    top: calc(100%/28*17);
    left: calc(100%/42*22);
    width: calc(100%/42*6);
    height: calc(100%/28*1)
}

.containerBreakpoints {
    position: absolute;
    top: calc(100%/28*25);
    left: calc(100%/42*2);
    height: calc(100%/28*1);
    width: calc(100%/42*1);
    margin: 0 0;
    cursor: pointer;
}
#breakpointsCheckbox_div{
    height: 80%;
    width: 80%;
}
.breakpointsMark{
    background-color:  #96dafc;
    background-image: url(images/breakpoint_checkmark.svg);
}

#errorWindow_div {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
    position: absolute;
    top: calc(100%/28*19);
    left: calc(100%/42*20);
    height: calc(100%/28*7);
    width: calc(100%/42*13);
    padding: .5%;
    color: var(--light);
    background-color: var(--red)
}

#errorMessage_textarea {
    border-top: .1px solid var(--black);
    background-color: var(--red);
    border-left: none;
    border-right: none;
    border-bottom: none
}

#toggleTheme_button{
    top: calc(100%/28*18);
    left: calc(100%/42*34);
    background-color: var(--black);
}

#toggleTheme_button p{
    color: var(--light)
}

#toggleTheme_button.light{
    background-color: var(--light)
}
#toggleTheme_button.light p{
    color: var(--black)
}


#closeSettings_button {
    top: calc(100%/28*24);
    left: calc(100%/42*34)
}

#info_button {
    top: calc(100%/28*21);
    left: calc(100%/42*34)
}

#infoWindow_div {
    position: absolute;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    z-index: 10;
    top: calc(100%/28*2);
    left: calc(100%/42*4);
    height: calc(100%/28*24);
    width: calc(100%/42*27.5);
    background-color: #fbfbfbec
}

.hoverElement {
    display: none;
    z-index: 6;
    position: absolute;
    background-color: var(--yellow);
    padding: 0 .5%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: var(--black);
    font-family: Arial,Helvetica,sans-serif
}

.hoverElement p {
    color: var(--black);
    font-family: Arial,Helvetica,sans-serif
}

#breakpointHover_div{
    z-index: 6;
    position: absolute;
    padding: 0 .5%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: var(--black);
    top: calc(1%*var(--height)*4);
    left: calc(1%*var(--width)*2);
    width: calc(1%*var(--width)*8);
    height: calc(1%*var(--height)*3)
}

#romLabelHover_div {
    -ms-grid-columns: 4fr 2fr 2fr;
    grid-template-columns: 4fr 2fr 2fr;
    -ms-grid-rows: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(4,1fr);
    top: calc(1%*var(--height)*2);
    left: calc(1%*var(--width)*0);
    width: calc(1%*var(--width)*10);
    height: calc(1%*var(--height)*4)
}

#ramLabelHover_div {
    -ms-grid-columns: 4fr 2fr 2fr;
    grid-template-columns: 4fr 2fr 2fr;
    -ms-grid-rows: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(4,1fr);
    top: calc(1%*var(--height)*2);
    left: calc(1%*var(--width)*40);
    width: calc(1%*var(--width)*10);
    height: calc(1%*var(--height)*4)
}

.io_hover {
    -ms-grid-columns: 1fr 2fr;
    grid-template-columns: 1fr 2fr;
    -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(5,1fr);
    top: calc(1%*var(--height)*2);
    width: calc(1%*var(--width)*6);
    height: calc(1%*var(--height)*5)
}

#io1LabelHover_div {
    left: calc(1%*var(--width)*14)
}

#io2LabelHover_div {
    left: calc(1%*var(--width)*22)
}

#io3LabelHover_div {
    left: calc(1%*var(--width)*30)
}

#aLabelHover_div {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
    grid-template-rows: repeat(3,1fr);
    top: calc(1%*var(--height)*8);
    left: calc(1%*var(--width)*14);
    width: calc(1%*var(--width)*6);
    height: calc(1%*var(--height)*3)
}

#bLabelHover_div {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
    grid-template-rows: repeat(3,1fr);
    top: calc(1%*var(--height)*12);
    left: calc(1%*var(--width)*14);
    width: calc(1%*var(--width)*6);
    height: calc(1%*var(--height)*3)
}

#cLabelHover_div {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
    grid-template-rows: repeat(3,1fr);
    top: calc(1%*var(--height)*12);
    left: calc(1%*var(--width)*14);
    width: calc(1%*var(--width)*6);
    height: calc(1%*var(--height)*3)
}

#hlLabelHover_div {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    top: calc(1%*var(--height)*14);
    left: calc(1%*var(--width)*14);
    width: calc(1%*var(--width)*7);
    height: calc(1%*var(--height)*2)
}

#ixLabelHover_div {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    top: calc(1%*var(--height)*16);
    left: calc(1%*var(--width)*14);
    width: calc(1%*var(--width)*6);
    height: calc(1%*var(--height)*2)
}

#spLabelHover_div {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    top: calc(1%*var(--height)*18);
    left: calc(1%*var(--width)*14);
    width: calc(1%*var(--width)*6);
    height: calc(1%*var(--height)*2)
}

#pcLabelHover_div {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr;
    grid-template-rows: repeat(2,1fr);
    top: calc(1%*var(--height)*20);
    left: calc(1%*var(--width)*14);
    width: calc(1%*var(--width)*7);
    height: calc(1%*var(--height)*2)
}

#zrLabelHover_div {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    top: calc(1%*var(--height)*22);
    left: calc(1%*var(--width)*14);
    width: calc(1%*var(--width)*7);
    height: calc(1%*var(--height)*2)
}

#irLabelHover_div {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    top: calc(1%*var(--height)*16);
    left: calc(1%*var(--width)*32);
    width: calc(1%*var(--width)*7);
    height: calc(1%*var(--height)*2)
}

#cFlagHover_div {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    top: calc(1%*var(--height)*5);
    left: calc(1%*var(--width)*17);
    height: calc(1%*var(--height)*1)
}

#zFlagHover_div {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    top: calc(1%*var(--height)*5);
    left: calc(1%*var(--width)*17);
    height: calc(1%*var(--height)*1)
}

#pFlagHover_div {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    top: calc(1%*var(--height)*5);
    left: calc(1%*var(--width)*17);
    height: calc(1%*var(--height)*1)
}

#sFlagHover_div {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    top: calc(1%*var(--height)*5);
    left: calc(1%*var(--width)*17);
    height: calc(1%*var(--height)*1)
}

#decoderHover_div {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    top: calc(1%*var(--height)*22);
    left: calc(1%*var(--width)*24);
    width: calc(1%*var(--width)*12);
    height: calc(1%*var(--height)*4)
}

.decoderLines_hover {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 3fr;
    grid-template-rows: 1fr 3fr;
    top: calc(1%*var(--height)*21);
    left: calc(1%*var(--width)*24);
    width: calc(1%*var(--width)*12);
    height: calc(1%*var(--height)*4)
}

.button_hover {
    padding: .5%;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 2fr;
    grid-template-rows: 1fr 2fr;
    width: calc(1%*var(--width)*9);
    height: calc(1%*var(--height)*3);
    top: calc(1%*var(--height)*27)
}

#playHover_div {
    left: calc(1%*var(--width)*11)
}

#stopHover_div {
    left: calc(1%*var(--width)*13)
}

#slowHover_div {
    left: calc(1%*var(--width)*16)
}

#fastHover_div {
    left: calc(1%*var(--width)*18)
}
#fullCommandHover_div {
    left: calc(1%*var(--width)*20)
}
#oneCommandHover_div {
    left: calc(1%*var(--width)*23)
}

#decreaseHover_div {
    left: calc(1%*var(--width)*26)
}

#increaseHover_div {
    left: calc(1%*var(--width)*31)
}

#settingsButtonHover_div {
    left: calc(1%*var(--width)*31)
}

#fullscreenButtonHover_div {
    left: calc(1%*var(--width)*31)
}

.displayNone {
    display: none
}

.toggleDisplay {
    display: unset
}

.displayGrid {
    display: -ms-grid;
    display: grid
}