html, body {margin: 0; padding: 0; 
    background: #FBFBFB;
    /* background: white; */
    /* background: black; */
}
body{display: flex; justify-content: center;}

@font-face{
    src:url(fonts/Lato-Regular.ttf);
    font-family: lato-reg;
}
@font-face{
    src:url(fonts/Lato-Bold.ttf);
    font-family: lato-bold;
}
@font-face{
    src:url(fonts/Lato-Light.ttf);
    font-family: lato-light;
}
h1{margin: 0; padding: 0; color: #19B2FF; font-family: lato-reg;}
h2{margin: 0; padding: 0; letter-spacing: 0.02em; color: #222222; font-family: lato-reg;}
.h2mov{ letter-spacing: 0.02em; font-family: lato-bold;}
h3{margin: 0; padding: 0; color: #19B2FF; font-family: lato-light;}
h4{margin: 0; padding: 0; letter-spacing: 0.02em; color: #222222; font-family: lato-reg;}
p{ margin: 0; padding: 0; color: #222222; font-family: lato-reg;}

button{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
    box-sizing: border-box;    
}

button:hover{
    background-color: rgba(25, 178, 255, 0.7);
    transition: all 0.1s linear;    
}

.turn180{
    transform: rotate(180deg);
}

.grid-template{
    display: grid;
    height: 100%;
    width: 100%;
    justify-items: center;
    align-items: center;
}

.boxborder{
    box-sizing: border-box;
    border: 1px solid #AAAAAA;
}
.topLeft{
    border-top-left-radius: 0.5vw;
}
.topRight{
    border-top-right-radius: 0.5vw;
}
.bottomLeft{
    border-bottom-left-radius: 0.5vw;
}
.bottomRight{
    border-bottom-right-radius: 0.5vw;
}
.rounded{
    border-radius: 0.5vw;
}

.black{
    background-color: black;
}

.black h2, .black p{
    color: white;
}

/* --------------------------------actual desig---------------------------------- */
.mc8{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0px;
    width: 143.75vh;
    height: 100vh;
    
}

.gridcontainer{
    width: 98%;
    height: 98%;
    position: relative;
    background-image: url(images/Bus-System_light.svg);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: repeat(46, 1fr);
    grid-template-rows: repeat(32, 1fr);
}
.romValues{
    width: 100%;
    height: 100%;
}

.romElement{
    position: absolute;
    height: calc(100%/32);
    width: calc(100%/46);
}

.square2x2{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: calc(100%/32*2);
    width: calc(100%/46*2);
}

.rectangle1x2{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: calc(100%/32*2);
    width: calc(100%/46*1);
}

.rectangle4x2{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: calc(100%/32*2);
    width: calc(100%/46*4);
}
.rectangle6x2{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: calc(100%/32*2);
    width: calc(100%/46*6);
}

.rectangle8x2{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: calc(100%/32*2);
    width: calc(100%/46*8);
}
.rectangle12x2{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: calc(100%/32*2);
    width: calc(100%/46*12);
}
.rectangle12x4{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: calc(100%/32*4);
    width: calc(100%/46*12);
}

/* --------------------------------ROM---------------------------------- */
.ROM{
    position: absolute;
    height: 100%;
    width: calc(100%/46*10);
    top: 0%;
    left: 0%;
    

    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows:  repeat(16,1fr);
    justify-items: center;
    align-items: center;
}

.Label-1-F{
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 1fr 1fr;
}
.Label-000x-1FFx{
}
.Adresse-000x-1FFx{
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
.points1{
    grid-row-start: -2;
    grid-row-end: -1;
    grid-column-start: 1;
    grid-column-end: 3;
    background-image: url(images/points.svg);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}


/* --------------------------------RAM---------------------------------- */
.RAM{
    position: absolute;
    height: 100%;
    width: calc(100%/46*10);
    top: 0%;
    left: calc(100%/46*36);

    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: repeat(16,1fr);
    justify-items: center;
    align-items: center;
}
.points2{
    grid-column-start: 1;
    grid-column-end: 3;
    background-image: url(images/points.svg);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}


.Adresse-200x-3FFx{
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 1fr 1fr;
}

/* ---------------------------------IOs--------------------------------------- */
#io1{
    top: calc(100%/32*0);
    left: calc(100%/46*12);
}
#io1_arrow{
    top: calc(100%/32*0);
    left: calc(100%/46*14);
    background-image: url(images/IOArrow.svg);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}
#IO1{
    top: calc(100%/32*0);
    left: calc(100%/46*16);
}

#io2{
    top: calc(100%/32*0);
    left: calc(100%/46*20);
}
#io2_arrow{
    top: calc(100%/32*0);
    left: calc(100%/46*22);
    background-image: url(images/IOArrow.svg);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}
#IO2{
    top: calc(100%/32*0);
    left: calc(100%/46*24);
}

#io3{
    top: calc(100%/32*0);
    left: calc(100%/46*28);
}
#io3_arrow{
    top: calc(100%/32*0);
    left: calc(100%/46*30);
    background-image: url(images/IOArrow.svg);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}
#IO3{
    top: calc(100%/32*0);
    left: calc(100%/46*32);
}


/* ---------------------------------Akku/flags--------------------------------------- */
#A{
    top: calc(100%/32*6);
    left: calc(100%/46*13);   
}
#a{
    top: calc(100%/32*6);
    left: calc(100%/46*12);
}
#flags{
    top: calc(100%/32*6);
    left: calc(100%/46*15);
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(4, 1fr);
}

/* ---------------------------------Register--------------------------------------- */

#B{
    top: calc(100%/32*10);
    left: calc(100%/46*13);   
}
#b{
    top: calc(100%/32*10);
    left: calc(100%/46*12);
}
#C{
    top: calc(100%/32*10);
    left: calc(100%/46*15);   
}
#c{
    top: calc(100%/32*10);
    left: calc(100%/46*17);
}

#HL{
    top: calc(100%/32*12);
    left: calc(100%/46*14);   
}
#hl{
    top: calc(100%/32*12);
    left: calc(100%/46*12);
}

#IX{
    top: calc(100%/32*14);
    left: calc(100%/46*14);   
}
#ix{
    top: calc(100%/32*14);
    left: calc(100%/46*12);
}

#SP{
    top: calc(100%/32*16);
    left: calc(100%/46*14);   
}
#sp{
    top: calc(100%/32*16);
    left: calc(100%/46*12);   
}

#PC{
    top: calc(100%/32*18);
    left: calc(100%/46*14);   
}
#pc{
    top: calc(100%/32*18);
    left: calc(100%/46*12);
}
#ZR{
    top: calc(100%/32*20);
    left: calc(100%/46*14);   
}
#zr{
    top: calc(100%/32*20);
    left: calc(100%/46*12);
}
/* ---------------------------------ALU--------------------------------------- */

.ALU{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: calc(100%/32*6);
    width: calc(100%/46*12);
    top: calc(100%/32*6);
    left: calc(100%/46*22);
    background-image: url(images/ALUBg.svg);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}
/* ---------------------------------Controlunit--------------------------------------- */

#controlunit{
    top: calc(100%/32*14);
    left: calc(100%/46*22);
}
#ir{
    top: calc(100%/32*14);
    left: calc(100%/46*30);
}
#IR{
    top: calc(100%/32*14);
    left: calc(100%/46*32);
}
#SW1{
    top: calc(100%/32*16);
    left: calc(100%/46*22);
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-rows: 1fr;
    grid-template-columns: 5fr 1fr;
}
#SW2{
    top: calc(100%/32*18);
    left: calc(100%/46*22);
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;

}
#SW3{
    display: grid;
    justify-items: center;
    align-items: center;
    height: 100%;
    width: 100%;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 5fr;
}
.sNum{
    display: grid;
    justify-items: center;
    align-items: center;
    height: 60%;
    width: 60%;
}

#stepDescription{
    justify-self: start;
}
#ir_arrow{
    width: 100%;
    height: 100%;
    background-image: url(images/IRArrow.svg);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}
#SW4{
    display: grid;
    justify-items: center;
    align-items: center;
    height: 100%;
    width: 100%;
    grid-template-rows: 1fr;
    grid-template-columns: 4fr 2fr;
}

.dec-bits{
    display: grid;
    justify-items: center;
    align-items: center;
    height: 100%;
    width: 100%;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(4, 1fr);
}

#dec{
    top: calc(100%/32*26);
    left: calc(100%/46*28);
}

/* ---------------------------------ControlPanel--------------------------------------- */
.controlPanel{
    position: absolute;
    height: calc(100%/32*2);
    width: calc(100%/46*24);
    top: calc(100%/32*30);
    left: calc(100%/46*11);

    grid-template-rows: 1fr;
    grid-template-columns: repeat(12, 1fr);
}

#play{
    background-image: url(images/play_button.svg);
    background-size: 50%;
    background-position: center center;
    background-repeat: no-repeat;
}
#pause{
    background-image: url(images/pause_button.svg);
    background-size: 50%;
    background-position: center center;
    background-repeat: no-repeat;
}
#stop{
    background-image: url(images/stop_button.svg);
    background-size: 50%;
    background-position: center center;
    background-repeat: no-repeat;
}
#slow{
    background-image: url(images/slow_button.svg);
    background-size: 60%;
    background-position: center center;
    background-repeat: no-repeat;
}
#fast{
    background-image: url(images/fast_button.svg);
    background-size: 60%;
    background-position: center center;
    background-repeat: no-repeat;
}#increase{
    background-image: url(images/increase_button.svg);
    background-size: 50%;
    background-position: center center;
    background-repeat: no-repeat;
}
#decrease{
    background-image: url(images/decrease_button.svg);
    background-size: 50%;
    background-position: center center;
    background-repeat: no-repeat;
}
#singlestep{
    background-image: url(images/singlestep_button.svg);
    background-size: 60%;
    background-position: center center;
    background-repeat: no-repeat;
}
#commandstep{
    background-image: url(images/commandstep.svg);
    background-size: 60%;
    background-position: center center;
    background-repeat: no-repeat;
}
#fullcomand{
    background-image: url(images/fullcomand.svg);
    background-size: 60%;
    background-position: center center;
    background-repeat: no-repeat;
}
#settings{
    background-image: url(images/settings_button.svg);
    background-size: 60%;
    background-position: center center;
    background-repeat: no-repeat;
}
#toggleTheme{
    background-image: url(images/toggleTheme_button.svg);
    background-size: 70%;
    background-position: center center;
    background-repeat: no-repeat;
}