
body{
    margin: 0;
    padding: 0;
}

p{
    margin: 0;
}


.container{
    height: 100vh;
    width: 100vh;
}
.grid{
    display: grid;
    position: relative;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    height: 100%;
    width: 100%;
    justify-items: center;
    align-items: center;
}

.hexnum{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: yellow;

}